<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Look, it's our resume!</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="app/dist/lightbox/css/lightbox.min.css">
    <link rel="stylesheet" href="app/dist/css/styles.min.css">
</head>
<body data-spy="scroll" data-target="#navbar-menu">
    <section class="content">
        <section class="main">
            <section class="site-navbar" style="z-index: 99999;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="nav menu" id="navbar-menu">
                                <ul>
                                    <li>
                                        <a href="#home">Home</a>
                                    </li>
                                    <li>
                                        <a href="#about">About us</a>
                                    </li>
                                    <li>
                                        <a href="#projects">Projects</a>
                                    </li>
                                    <li>
                                        <a href="#tech-stack">Tech stack</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <section class="motto" id="home">
                <h3 class="text">Let's get to know each other <span class="bold-text">a little bit better.</span></h3>
            </section>
            <section id="about" class="site-section">
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6 col-md-push-3">
                                    <div class="profiles-description">
                                        <p class="profiles-description-text">
                                            Hello,
                                        </p>
                                        <p class="profiles-description-text">
                                            How to introduce ourselves?
                                        </p>
                                        <p class="profiles-description-text">
                                            Maybe we should just say that we are makers...
                                        </p>
                                        <p class="profiles-description-text">
                                            ...always curious, always ready and always professional.
                                        </p>
                                        <p class="profiles-description-text">
                                            We create solutions, manage projects and develop great apps.
                                        </p>
                                        <p class="profiles-description-text">
                                            We design them, we ship them and we maintain them.
                                        </p>
                                        <p class="profiles-description-text">
                                            With passion.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-pull-6">
                                    <img src="http://placehold.it/230x330" alt="Adrian Bystrek" class="profile-img img-responsive">
                                    <h4 class="profile-name">Adrian Bystrek</h4>
                                    <button class="btn btn-danger btn-profile" data-toggle="modal" data-target="#bystrek-modal">
                                        About me
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <img src="http://placehold.it/230x330" alt="Przemek Smyrdek" class="profile-img img-responsive">
                                    <h4 class="profile-name">Przemek Smyrdek</h4>
                                    <button class="btn btn-danger btn-profile" data-toggle="modal" data-target="#smyrdek-modal">
                                        About me
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="projects" class="site-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                        <h3 class="section-title">Projects</h3>
                            
                            <div class="project-wrapper" v-for="project in projects">
                                
                                <div class="timeline-wrapper">
                                    <div class="timeline">
                                        <div class="timeline-bar"></div>
                                        <div class="timeline-circle">
                                            <div class="timeline-circle-inner"></div>
                                        </div>
                                        <div class="timeline-label">
                                            <p>{{ project.date }}</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="award-wrapper" v-if="project.award">
                                    <div class="award-icon">
                                        <i class="fa fa-star"></i> {{ project.award }}
                                    </div>
                                </div>
                                
                                <div class="project">
                                    <div class="project-content">
                                        <header class="project-title">
                                            {{ project.title }}
                                        </header>
                                        <p class="project-description">
                                            {{ project.description }}
                                        </p>
                                        
                                        <div class="addon listed-items">
                                            <p class="listed-items-title"><i class="fa fa-code"></i> Built with:</p>
                                            <ul class="items-list features-list">
                                                <li v-for="feature in project.features">
                                                    {{ feature }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="addon listed-items" v-if="project.contributors">
                                            <p class="listed-items-title"><i class="fa fa-users"></i> Contributors:</p>
                                            <ul class="items-list contributors-list">
                                                <li v-for="contributor in project.contributors">
                                                    <a href="{{ contributor.profile }}"> {{ contributor.name }} </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="addon website" v-if="project.website">
                                            <i class="fa fa-globe"></i> <a href="{{ project.website }}" target="_blank"> {{ project.website }} </a>
                                        </p>
                                        <div class="addon listed-items" v-if="project.screens">
                                            <p class="listed-items-title"><i class="fa fa-eye"></i> Screens:</p>
                                            <div v-for="screen in project.screens">
                                                <a style="text-decoration: none" href="{{ screen.path }}" data-lightbox="{{ screen.name }}">
                                                    <img src="{{ screen.path_mini }}" />
                                                </a> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="tech-stack" class="site-section">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <h3 class="section-title">Tech stack</h3>
                            <p class="section-description">
                                Based on our experience we are trying to build a stable, mature and efficient stack for our every day work. And it 
                                seems it works really, really good. Please, take a look at summary of tools and concepts which help us every day:
                            </p>
                        </div>
                        <div class="row row-tech-item-medium row-color-1">
                            <div class="col-xs-4">
                                <div class="tech-item">
                                    <p>.NET</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="tech-item">
                                    <p>JS</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="tech-item">
                                    <p>AGILE</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tech-item-medium row-color-2">
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>ASP.NET</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Angular.JS</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>MS SQL</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Azure</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tech-item-medium row-color-3">
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Entity Framework</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Autofac</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>SignalR</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Web API</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-color-4">
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>ES2015</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>Knockout.JS</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>Vue.JS</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>SCSS</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>Gulp</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>NPM</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-color-5">
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>VS 2015</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>GIT</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>Scrum</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>Visio</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>Photoshop</p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tech-item">
                                    <p>Coffee :)</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p class="section-description">
                                Newest frameworks and libraries doesn't guarantee a success - there is a lot more to do. To build top-quality software
                                we are constantly improving our skills in areas like:
                            </p>
                        </div>
                        <div class="row row-tech-item-medium row-color-1">
                            <div class="col-xs-4">
                                <div class="tech-item">
                                    <p>Management</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="tech-item">
                                    <p>Marketing</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="tech-item">
                                    <p>UI / UX</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tech-item-medium row-color-2">
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Design patterns</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>SOLID approach</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Multilayering</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Refactoring</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tech-item-medium row-color-3">
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Tests</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>User stories</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Analysis</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="tech-item">
                                    <p>Teamwork</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p class="section-description">
                                Don't you think that we should try to do something amazing together?
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <footer class="footer">
            <p class="footer-text">
                Glad to meet you! | 2016
            </p>
        </footer>
    </section>
    
    <div class="about-modals">
        <div class="modal fade" id="bystrek-modal" tabindex="-1" role="dialog" aria-labelledby="bystrekModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Hi, my name is Adrian</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            I'm full-stack developer. In work I'm looking forward opportunities to design new solutions and 
                            tasks requiring planning, decision making and coordinating the work of others.
                        </p>
                        <p>
                            The only thing that is more interesting for me is constantly looking for a new business opportunities. From 
                            an early age I was looking at the development of family-owned business and now I'm strongly 
                            focused on creating own software company.
                        </p>
                        <p>
                            After work I love to spend time with family what gives me power for the next day.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <ul class="profile-links">
                            <li>
                                <a href="https://linkedin.com/in/adrian-bystrek-1a512872" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:adrian.bystrek@gmail.com">
                                    <i class="fa fa-envelope-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="smyrdek-modal" tabindex="-1" role="dialog" aria-labelledby="smyrdekModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Hi, my name is Przemek</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            I'm continuously developing myself as a full-stack web developer and UI designer. During my work for well 
                            recognizable companies I have obtained and trained skills which helped me in co-managing our projects like 
                            e.g. Untwisted and Coordinator.
                        </p>
                        <p>
                            I'm strongly interested in team management, lean / agile methodologies 
                            and that whole crazy startups world. After hours I'm trying to keep my ideal life-work balance, 
                            because it makes me more efficient and creative.    
                        </p>
                    </div>
                    <div class="modal-footer">
                        <ul class="profile-links">
                            <li>
                                <a href="https://linkedin.com/in/psmyrdek" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:przemek.smyrdek@gmail.com">
                                    <i class="fa fa-envelope-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/psmyrdek" target="_blank">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="app/dist/lightbox/js/lightbox-plus-jquery.min.js"></script>
    
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script src="app/src/js/data/projects.js"></script>
    <script src="app/src/js/vue-components.js"></script>
    
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73206251-1', 'auto');
    ga('send', 'pageview');
    </script>

</body>
</html>