<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Look, it's our resume!</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="app/dist/css/styles.min.css">
</head>
<body data-spy="scroll" data-target="#navbar-menu">
    <section class="content">
        <section class="main">
            <section class="site-navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <nav class="nav menu" id="navbar-menu">
                                <ul>
                                    <li>
                                        <a href="#home">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Projects</a>
                                    </li>
                                    <li>
                                        <a href="#">Tech stack</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <section class="motto" id="home">
                <h3 class="text">Let's get to know each other <span class="bold-text">a little bit better.</span></h3>
            </section>
            <section id="projects">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            
                            <div class="project-wrapper" v-for="project in projects">
                                
                                <div class="timeline-wrapper">
                                    <div class="timeline">
                                        <div class="timeline-bar"></div>
                                        <div class="timeline-circle">
                                            <div class="timeline-circle-inner"></div>
                                        </div>
                                        <div class="timeline-label">
                                            <p>{{ project.date }}</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="award-wrapper" v-if="project.award">
                                    <div class="award-icon">
                                        <i class="fa fa-star"></i> {{ project.award }}
                                    </div>
                                </div>
                                
                                <div class="project">
                                    <div class="project-content">
                                        <header class="project-title">
                                            {{ project.title }}
                                        </header>
                                        <p class="project-description">
                                            {{ project.description }}
                                        </p>
                                        
                                        <div class="addon listed-items">
                                            <p class="listed-items-title"><i class="fa fa-code"></i> Built with:</p>
                                            <ul class="items-list features-list">
                                                <li v-for="feature in project.features">
                                                    {{ feature }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="addon listed-items" v-if="project.contributors">
                                            <p class="listed-items-title"><i class="fa fa-users"></i> Contributors:</p>
                                            <ul class="items-list contributors-list">
                                                <li v-for="contributor in project.contributors">
                                                    <a href="{{ contributor.profile }}"> {{ contributor.name }} </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="addon website" v-if="project.website">
                                            <i class="fa fa-globe"></i> <a href="{{ project.website }}"> {{ project.website }} </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section id="tech-stack">
            <h3>Tech stack</h3>
        </section>
        <footer class="footer">
            <p class="footer-text">
                Glad to meet you! | 2016
            </p>
        </footer>
    </section>
    
    <script src="node_modules/vue/dist/vue.min.js"></script>
    
    <script src="app/src/js/data/projects.js"></script>
    <script src="app/src/js/vue-components.js"></script>
    
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73206251-1', 'auto');
    ga('send', 'pageview');
    </script>

</body>
</html>