<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NAME | Hi, we create amazing things!</title>
    
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="app/dist/css/common.css">
    <link rel="stylesheet" href="app/dist/css/projects.css">
    
</head>
<body>
    <section class="content">
        <section class="main">
            
            <section id="projects">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            
                            <div class="project-wrapper" v-for="project in projects">
                                
                                <div class="timeline-wrapper">
                                    <div class="timeline">
                                        <div class="timeline-bar"></div>
                                        <div class="timeline-circle">
                                            <div class="timeline-circle-inner"></div>
                                        </div>
                                        <div class="timeline-label">
                                            <p>{{ project.date }}</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="award-wrapper" v-if="project.award">
                                    <div class="award-icon">
                                        <i class="fa fa-star"></i> Award Winner!
                                    </div>
                                </div>
                                
                                <div class="project">
                                    <div class="project-content">
                                        <header class="project-title">
                                            {{ project.title }}
                                        </header>
                                        <p class="project-description">
                                            {{ project.description }}
                                        </p>
                                        
                                        <div class="addon listed-items">
                                            <p class="listed-items-title"><i class="fa fa-code"></i> Features:</p>
                                            <ul class="items-list features-list">
                                                <li v-for="feature in project.features">
                                                    {{ feature }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="addon listed-items" v-if="project.contributors">
                                            <p class="listed-items-title"><i class="fa fa-users"></i> Contributors:</p>
                                            <ul class="items-list contributors-list">
                                                <li v-for="contributor in project.contributors">
                                                    <a href="{{ contributor.profile }}"> {{ contributor.name }} </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="addon website" v-if="project.website">
                                            <i class="fa fa-globe"></i> <a href="{{ project.website }}"> {{ project.website }} </a>
                                        </p>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            
        </section>
        <footer class="footer"></footer>
    </section>
    
    <script src="node_modules/vue/dist/vue.min.js"></script>
    
    <script src="app/src/js/data/projects.js"></script>
    <script src="app/src/js/vue-components.js"></script>
</body>
</html>