@import 'globals';

@mixin text-shadow
{
    text-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

#about {
    margin-bottom: 50px;
    background-position: center center;
    padding: 40px 0;
    background-image: url("/app/assets/images/about_background.png");
    
    .profiles-description {
        position: relative;
        top: 30px;
        text-align: center;
        
        @media screen and (max-width: 992px) {
            margin-bottom: 50px;
        }
        
        .profiles-description-text {
            color: white;
            margin: 10px 0;
            @include text-shadow;
            
            @media screen and (min-width: 992px) {
                line-height: 1.7;
                font-size: 18px;
            }
            
            @media screen and (max-width: 992px) {
                line-height: 1.4;
                font-size: 16px;
            }
        }
        
        .profiles-description-text:nth-child(1) { 
            font-size: 24px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
        }
        
        .profiles-description-text-with-margin {
            margin-top: 30px;
        }
    }
    
    .profile-img {
        display: block;
        position: relative;
        margin: 20px auto;
        box-shadow: 0 12px 22px -13px rgba(0,0,0,.3);
    }
    
    .profile-name {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        color: white;
        font-weight: 700;
        @include text-shadow;
    }
    
    .btn-profile {
        margin: 0 auto;
        border-radius: 0px;
        display: block;
        padding: 3px 25px;
    }
}

.about-modals {
    
    .modal {
        font-family: 'Roboto', sans-serif;
        
        .modal-dialog {
            position: relative;
            top: 50px;
            
            .modal-content {
                border-radius: 0px;
                box-shadow: 0px 10px 27px -3px rgba(0,0,0,.5);
                
                .modal-title {
                    font-family: 'Montserrat', sans-serif;
                }
                
                .modal-body {
                    background-color: #fdfdfd;
                }
            }
        }
    }
    
    .profile-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            display: inline-block;
            margin-right: 5px;
            
            a {
                color: $main-color;
                font-size: 25px;
            }
        }
    }
}
