@import 'globals';

.footer {
    background-color: $main-color;
    
    .footer-text {
        color: white;
        text-align: center;
        font-weight: 700;
        position: relative;
        font-size: 18px;
        top: 15px;
        
        @include with-text-shadow;
    }
}