@import 'globals';

.motto {
    width: 100%;
    padding: 300px 0;
    
    .text {
        text-align: center;
        font-size: 40px;
        color: #6F6F6F;
        font-family: 'Montserrat', sans-serif;
        
        .bold-text {
            color: white;
            font-weight: 700;
            background-color: $main-color;
            padding: 5px 10px;
            
            @include with-text-shadow;
        }
    }
    
    
}