@import 'globals';

#page-navbar {
    width: 100%;
    position: fixed;
    background-color: #333333;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    top: 0;
    
    .page-navbar-content {
        position: relative;
        
        .menu-toggle-btn {
            font-size: 24px;
            padding: 3px 16px;
            border: none;
            color: white;
            background-color: $main-color;
            
            @include with-animated-background(300ms);
            &:hover {
                background-color: lighten($main-color, 3%);
            }
            
            &:focus {
                outline: none;
                background-color: lighten($main-color, 3%);
            }
            
            &:active {
                outline: none;
                background-color: darken($main-color, 5%);
            }
            
            @media screen and (max-width: 992px) {
                .button-label {
                    display: none;
                }        
            }
            
        }
        
        .page-navbar-menu {
            display: none;
            position: absolute;
            background-color: $main-color;
            box-shadow: 0 8px 10px -5px rgba(0,0,0,.2);
            left: 0px;
            top: 40px;
            
            @media screen and (max-width: 992px) { 
                width: 100%;
                text-align: center;
            }
            
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                
                li {
                    
                    @include with-animated-background(300ms);
                    &:hover {
                        background-color: lighten($main-color, 3%);
                    }
                    
                    a {
                        display: block;
                        padding: 10px 20px;
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        font-size: 20px;
                        
                        &:hover {
                            text-decoration: none;
                        }
                    }    
                }
            }
        }
    }
}