@import 'globals';

#page-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 -1px 7px rgba(0,0,0,.1);
    
    @media screen and (min-width: 992px) {
        padding: 15px 0;        
    }
    
    @media screen and (max-width: 992px) {
        padding: 5px 0;        
    }
    
    .page-navbar-content {
        position: relative;
        
        .menu-toggle-btn {
            font-size: 24px;
            padding: 3px 15px;
            border: none;
            color: white;
            background-color: $main-color;
            box-shadow: 0 3px 11px -5px rgba(0,0,0,0.3);
            border-bottom: 2px solid #A22F02;
            
            @include with-animated-background(300ms);
            &:hover {
                background-color: lighten($main-color, 3%);
            }
            
            &:focus {
                outline: none;
                background-color: lighten($main-color, 3%);
            }
            
            &:active {
                outline: none;
                background-color: darken($main-color, 5%);
            }
        }
        
        .page-navbar-menu {
            display: none;
            position: absolute;
            background-color: $main-color;
            box-shadow: 0 3px 11px -5px rgba(0,0,0,0.3);
            border-bottom: 2px solid #A22F02;
            left: 0px;
            top: 40px;
            
            @media screen and (max-width: 992px) { 
                width: 100%;
                text-align: center;
            }
            
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                
                li {
                    
                    @include with-animated-background(300ms);
                    &:hover {
                        background-color: lighten($main-color, 3%);
                    }
                    
                    a {
                        display: block;
                        padding: 10px 20px;
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        font-size: 20px;
                        
                        &:hover {
                            text-decoration: none;
                        }
                    }    
                }
            }
        }
    }
}