#projects {
    
    $project-background: #FBFBFB;
    $timeline-main-color: #E23F00;
    $timeline-width: 80px;

    .project-wrapper {
        position: relative;
        width: 100%;
        padding: 20px 0;
        
        .timeline-wrapper {
            
            z-index: 999;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: $timeline-width;
            
            .timeline {
                height: 100%;
                position: relative;
                
            
                .timeline-bar {
                    width: 10px;
                    height: 100%;
                    margin: 0 auto;
                    background-color: $timeline-main-color;
                    
                    position: absolute;
                    left: 35px;
                    top: 0;                
                }
                
                .timeline-circle {
                    
                    position: relative;
                    top: 40px;
                    margin: 0 auto;
                    
                    $size: 40px;
                    
                    width: $size;
                    height: $size;
                    
                    background-color: $timeline-main-color;
                    border-radius: 100%;
                    
                    .timeline-circle-inner { 
                        
                        $size: 20px;
                    
                        width: $size;
                        height: $size;
                        
                        background-color: $project-background;
                        border-radius: 100%;
                        
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        
                    }
                }
                
                .timeline-label {
                    width: 60px;
                    text-align: center;
                    background-color: #E23F00;
                    color: white;
                    position: absolute;
                    left: -45px;
                    top: 50px;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    
                    p {
                        font-family: 'Oswald', sans-serif;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
            
        .project {
            
            width: 100%;
            height: 100%;
            background-color: $project-background;
            border-radius: 5px;
            position: relative;
            padding: 5px;
            padding-left: $timeline-width;
            padding-right: 10px;
            border-bottom: 1px solid #D0D0D0;
            box-shadow: 0 1px 4px rgba(0,0,0,0.1);
            
            .project-content {
                width: 100%;
                height: 100%;
                
                
                .project-title {
                    margin: 0;
                    padding: 0;
                    font-size: 50px;
                    font-family: 'Roboto Slab', serif;
                    position: relative;
                }
                
                .project-description {
                    font-size: 16px;
                    color: #5F5F5F;
                }
                
            }
            
        }
    }
}