@import 'globals';

$footer-height: 50px;

html,
body {
    position: relative;
	margin:0;
	padding:0;
	height:100%;
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
}

.content {
	min-height:100%;
	position:relative;
}

.main {
	padding-bottom: $footer-height;
}



.site-section {
    .section-title {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        border-top: 2px solid $main-color;
        border-bottom: 2px solid $main-color;
        color: #5F5F5F;
        font-weight: 700;
        font-size: 28px;
        padding: 10px;
    }
    
    .section-description {
        font-size: 16px;
        color: #5f5f5f;
        text-align: justify;
        margin: 10px 0;
        line-height: 1.7;
    }
}