$main-color: #E23F00;
$imagesPath: '../static/images/';

@mixin with-text-shadow {
    text-shadow: 0 2px 3px rgba(123, 0, 0, 0.4);
}

@mixin with-animated-background($time) {
    -webkit-transition: background-color $time ease;
    -moz-transition: background-color $time ease;
    -o-transition: background-color $time ease;
    transition: background-color $time ease;
}

@mixin with-animated-color($time) {
    -webkit-transition: color $time ease;
    -moz-transition: color $time ease;
    -o-transition: color $time ease;
    transition: color $time ease;
}

@mixin backgound-image($path) {
    background-image: url($imagesPath + $path);
}