@import 'globals';

.motto {
    width: 100%;
    
    @media screen and (min-width: 992px) {
        padding: 270px 0 300px 0;
    }
    
    @media screen and (max-width: 992px) {
        position: relative;
        top: 100px;
        margin-bottom: 200px;
    }
    
    .text {
        text-align: center;
        color: #6F6F6F;
        font-family: 'Montserrat', sans-serif;
        
        .bold-text {
            color: white;
            font-weight: 700;
            background-color: $main-color;
            padding: 5px 10px;
            
            @include with-text-shadow;
        }
        
        @media screen and (min-width: 992px) {
            font-size: 40px;
        }
        
        @media screen and (max-width: 992px) {
            font-size: 30px;
            
            .bold-text {
                position: relative;
                top: 15px;
                display: block;
                width: 350px;
                margin: 0 auto;
            }
        }
    }
    
    
}